@charset "UTF-8";

@import url('fontes/Sriracha/Sriracha-Regular')

.passion-one-regular {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.passion-one-bold {
  font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.passion-one-black {
  font-family: "Passion One", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.sriracha-regular {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}
:root {
    --fonte1: verdana, sans-serif;
    --fonte2: "Sriracha", cursive;
    
}


* {
    margin: 0px;
    padding: 0px;
}
html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: sans-serif;
}
header {
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    
}
header > p {
    padding-bottom: 50px;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
.normal {
    background-color: white;
    font-family: "Sriracha", cursive;
    font-weight: bold;
}
.imagem {
    background-color: rgb(68, 64, 64);
    color: white;
    font-family: "Sriracha", cursive;
    box-shadow: inset 6px 6px 13px 0px black;
    background-attachment: fixed;

}
.imagem > p {
    background-color: rgba(0, 0, 0, 0.418);
    width: 300px;
    box-shadow: 1px 1px 0px black;
    
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 20px;
}
section > p {
    padding-bottom: 1.5em;
}
#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
}
#img02 {
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
    background-size: cover;
}
footer {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}